[Unit]
Description=uWSGI instance to serve tattood
After=network.target

[Service]
User=
Group=nginx
WorkingDirectory=/home/user/myproject
Environment="PATH=/root/tattood/venv/bin"
ExecStart=/root/tattood/env/bin/uwsgi --ini tattood.ini

[Install]
WantedBy=multi-user.target