[Unit]
Description=uWSGI instance to serve tattood
After=network.target

[Service]
User=eksi
Group=nginx
WorkingDirectory=/home/www-data/tattood/
Environment="PATH=/home/www-data/tattood/venv/bin"
ExecStart=/home/www-data/venv/bin/uwsgi --ini tattood.ini

[Install]
WantedBy=multi-user.target