<html>
  <head>
    {% if title %}
      <title>{{ title }} - microblog</title>
    {% else %}
      <title>Welcome to microblog</title>
    {% endif %}
      <script type = "text/javascript"
              src = "{{ url_for('static', filename = 'hello.js') }}" ></script>
  </head>
  <body>
    <h1>Hi, {{ user.nickname }}!</h1>
    {% for post in posts %}
      <div><p>{{ post.author }} says: <b>{{ post.body }}</b></p></div>
    {% endfor %}
    <input type = "button" onclick = "sayHello()" value = "Say Hello" />
  </body>
</html>
